@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(../fonts/Oxygen.woff) format('woff');
}

body {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #2a2;
}
a:hover {
    color: #090;
}
h1 {
    padding: 0;
    margin: 0 0 10px 0;
}
th {
    text-align: left;
}
th, td {
    padding-right: 10px;
    padding-left: 0;
}
td {
    white-space: nowrap;
}
th div, td div {
    overflow: auto;
}
.headless th, .headless td {
    padding-right: 30px;
}
th a {
    color: #000;
}
th a:hover {
    color: #000;
}
li.active a {
    color: #000;
}
input.normal, select.normal {
    min-width: 220px;
}
textarea {
    min-width: 360px;
}
input.search {
    min-width: 200px;
}
textarea {
    height: 300px;
}
td img {
    margin-left: auto;
    margin-right: auto;
}

.small {
    width: 60px;
}
.medium {
    width: 125px;
}
.large {
    width: 200px;
}
.huge {
    width: 260px;
}

form.left {
    float: left;
    padding-right: 15px;
}
.right {
    text-align: right;
}

.clear {
    clear: both;
}

#main {
    width: 960px;
}

#first {
    top: 0;
}
#sub-menu {
    top: 128px;
}
#first, #sub-menu {
    position: absolute;
    left: 0;
    float: left;
    width: 128px;
    overflow: hidden;
}
#main-menu {
    position: fixed;
    top: 0;
    background-color: #fff;
    margin-bottom: 24px;
    min-width: 100%;
}
#content {
    position: absolute;
    top: 64px;
    width: 580px;
    padding-bottom: 20px;
    padding-left: 24px;
}
#main-menu, #content {
    left: 128px;
}
#main-menu div {
    float: left;
    padding: 10px;
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 17px;
}
#main-menu .active a, #sub-menu .active a {
    color: #fff;
}
#main-menu .active {
    background-color: #090;
}
#sub-menu div {
    font-weight: bold;
    font-size: 15px;
    padding: 10px 22px 10px 0;
    text-align: right;
}

ul.pager {
    list-style-type: none;
    margin: 0;
    padding: 4px 0;
    font-size: 15px;
}
ul.pager li {
    display: inline;
    padding: 0 5px;
}

.active {
    background-color: #090;
}
.colored a:hover {
    border-bottom: 1px dotted #3c3;
}

.obligatory {
    color: red;
}
p.success {
    padding: 10px;
    background-color: #7f7;
}
p.error {
    padding: 10px;
    background-color: #f77;
}
p.error span {
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.map, .directions_panel {
    width: 480px;
}
.map {
    height: 300px;
}

.time {
    position: relative;
}
.time .exacttime {
    display: none;
    text-align: center;
}
.time:hover .exacttime {
    position: absolute;
    top: -20px;
    white-space: nowrap;
    padding: 1px 2px;
    display: block;
    background-color: #000;
}

td.last {
    padding-right: 0;
}

#upper-urls {
    margin-bottom: 15px;
}

#lower-urls {
    margin-top: 15px;
}
